/* Mengatur gaya umum untuk body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Mengatur header dan navigasi */
header {
    background-color: #00796b; /* Warna latar belakang header */
    padding: 10px 20px; /* Padding di atas dan bawah serta kiri dan kanan */
}

/* Mengatur navbar untuk berada di sebelah kanan */
.navbar {
    display: flex; /* Menggunakan Flexbox */
    justify-content: flex-end; /* Menyusun navbar ke sisi kanan */
}

.navbar ul {
    list-style: none; /* Menghilangkan bullet pada daftar */
    margin: 0; /* Menghilangkan margin pada <ul> */
    padding: 0; /* Menghilangkan padding pada <ul> */
    display: flex; /* Menampilkan item dalam satu baris */
}

.navbar ul li {
    margin-left: 20px; /* Memberikan jarak antar item */
}

.navbar ul li a {
    color: white; /* Warna teks link */
    text-decoration: none; /* Menghilangkan garis bawah pada link */
    font-size: 18px; /* Ukuran font */
    padding: 10px 15px; /* Padding di dalam link */
}

.navbar ul li a:hover {
    background-color: #004d40; /* Warna latar belakang saat hover */
    border-radius: 5px; /* Sudut melengkung saat hover */
}
h2{
    text-align: center;
    color: #004d40;
    margin-bottom: 10px; /* Memberikan jarak bawah untuk <h2> */
    padding: 10px;
    
 
}
p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
   cursor: pointer;
   border: 6px solid #545252; 
   padding: 10px; /* buat ruang di dalam border */
   margin: 17px 0; /* buat ruang di luar border */
   border-radius: 19px; /* biar sudut bulat */
   animation: moveImage 2s ease-out forwards; 
}

@keyframes moveImage {
    1% {
        transform: translateX(-200px); /* Posisi awal gambar di kiri */
    }
    100% {
        transform: translateX(0); /* Gambar bergerak ke posisi normal */
    }
}
.gambar1{
    float: left;
    margin-right: 12px; 
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    animation: moveImage 2s ease-out forwards; 
}
.container {
    display: block; /* Elemen di dalam kontainer akan diatur secara vertikal */
    border: 2px solid #333; /* Memberikan border kotak */
    padding: 20px; /* Memberikan ruang di dalam kotak */
    margin: 20px; /* Memberikan jarak di luar kotak */
    width: 300px; /* Menentukan lebar kotak */
    border:6px solid #545252; 
    border-radius: 15px;
    animation: moveDown 2s forwards;

}
.gambar2{
    float: left;
    margin-right: 90px; 
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 20px; 
    animation: moveImage 2s ease-out forwards; 

}
@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Teks dimulai dari posisi lebih atas */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Teks bergerak ke posisi normal */
    }
}


 